 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>真实故事..</h2>
		    <p>欢迎你来到这里，我们正在开发中...</p>
			<p>如果你想参与其中,请联系我们(iceskysl@gmail.com)...</p>
			<!-- <a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_likeurl" target="_blank">赞</a><script  src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111107&style=2&showcount=1&width=130&height=30" charset="utf-8" defer="defer" ></script> -->
	
	
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
 			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
		</div>
	</div>
</div>
