 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>欢迎你..</h2>
		    <p>欢迎你来到这里，我们正在开发中...</p>
		    <p>猪头，想下这个页面放什么...</p>
 			<!-- <a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_likeurl" target="_blank">赞</a><script  src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111107&style=2&showcount=1&width=130&height=30" charset="utf-8" defer="defer" ></script> -->
	
	
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
			<br />	<br />	<br />	<br />	<br />	<br />	<br />	<br />
 			 
		</div>
	</div>
</div>
