 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>欢迎你..</h2>
		    <p> 
              人心才是世界上最难到达的地方。
			 <br />地铁里低头玩手机，追赶各种进度，面无表情拥挤抢位……
			 <br />好像没有了解过另一个陌生人。
			 <br />地铁低头看手机的男子，也许很爱猫，喜欢在日出的时候抬头看光线，喜欢在书店发呆看夕阳……
			 <br />想了解另外一个人，练习在人心里旅行。
			 <br />练习爱与被爱，练习了解和倾听。
			 <br />我们在人心里面旅行，认识另一个自己。
			 <br />
			 <br />嗯，网站可以怎么玩呢？
			 <br />从<a href="http://www.huodongrili.com/chats" target="_blank">约聊天</a>里面，找到你感兴趣的人，约方便的时间和地点，约见面聊天。
			 <br /><a href="http://www.huodongrili.com/blogs" target="_blank">故事集</a>里面，可以看到各种故事和心情。就像旅行的游记。
			 <br />那些长长短短的电影，深深浅浅的记录各种人物故事。
			 <br />
			 <br /><strong>怎样约人比较有诚意？</strong>
			 <br />注册后绑定自己微博、知乎、豆瓣、私人博客地址。
			 <br />方便对方了解你。
			 <br />填写备注时，有诚意的写信息，认真写想要聊天的主题。
			 <br />看Ta方便的时间和地点，尽量约对方方便的地方。
			 <br />尽量提前1-5天约，不要约很久之后的日期。
			 <br />
			 <br />另外，有必要读读如下指南：
			 <br />这不是什么网站：
			 <br />1）不是婚恋交友网站。确定不是。
			 <br />2）不是交友网站。所有用户都没提供照片，思想比外形更重要。
			 <br />3）不是问答网站，不是视频、语聊网站。我们推荐人与人之间真实情感联系。
			 <br />
			 <br />去哪里聊天比较好？
			 <br />尽量选对方交通方便的地点。最好靠近地铁。
			 <br />建议选择星巴克、Costa之类咖啡店。安静店铺也都可以，店铺供参考。
			 <br />最好选择自己曾经去过的店铺，人声嘈杂中费力聊天，会有点尴尬。
			 <br />喝东西会比吃饭更好，有调研证明，这样更能集中注意力在聊天内容上。
			 <br />最好出发前把该店铺dianping.com地址发给对方。
			 <br />若一方先到，可以在店铺等候。避免不停询问地点。
			 <br />只说地铁口见，容易导致等待和寻找。
			 <br />有精确地址，有店家电话，能避免交通迷路时间。推荐AA制。
			 <br />唔，跟有趣的人，坐在街边吃冰淇淋，也是很愉快的经历呢~
			 <br />
			 <br />聊多久比较合适？
			 <br />1小时左右，讲故事，妥妥的。大家都比较忙，有结束时间会比较方便。遇到志同道合，相逢恨晚，若双方时间都空，而且双方都愿意，继续聊下去也行。
			 <br />花看半开，酒饮微醉。 留些时间空间和余地。
			 <br />
			 <br />我可以带朋友前往么？
			 <br />不可以。一对一聊天讲故事。
			 <br />陌生的两个人，在街角咖啡馆，喝茶聊天，讲故事。
			 <br />耳边有絮絮叨叨陌生人耳语，周围有嘈嘈切切音乐声。
			 <br />很有趣的方式。
			 <br />
			 <br />不开心的事情，都过去吧。人生太短。注意哪些有趣的、建设性的，能改变我们的事情。
			 <br />人是互动的，再凶悍的坏人也会温柔对待某人。
			 <br />没有人能给另一个人下定义，父母也不行。
			 <br />电影开场时的猪头，可以在最后一刻拯救世界。
			 <br />宽容、善意对待世界，也宽容善意对待我们自己。
			 <br />
			 <br />如果有兴趣，可以<a href="http://eepurl.com/HHxOP" target="_blank">订阅我们邮件</a>，或者关注我分享故事的<a href="http://zhuanlan.zhihu.com/gushi" target="_blank">知乎专栏</a>，或者搜索微信公共账号 “大猫布丁”
			 <br />网站和项目，都在持续改版中。
			 <br />欢迎给我反馈，<a href="http://www.zhihu.com/people/Zoe2012" target="_blank">知乎私信</a> 和 <a href="http://www.weibo.com/xiaomi2012" target="_blank">微博私信</a> 都能联络到我。当然知乎联络我最快：）
			 <br />
			</p>
 			 
		</div>
	</div>
</div>
