<div class="container"> 
 	<div class="row-fluid">
		<p>©2013 HuodongRili.com. All Rights Reserved.</p>
		<p>Powered By:  <a href="http://weibo.com/xiaomi2012" target="_blank">@大猫布丁</a>和工程师朋友们</p>
   </div>
</div>