<div class="container"> 
	<div class="row-fluid">
		<p style="float:left">©2013 HuodongRili.com. All Rights Reserved.</p>
		<p style="float:right">Powered By:  <a href="http://weibo.com/xiaomi2012" target="_blank">@大猫布丁</a>和工程师朋友们</p>
	</div>
</div>

<div style="display:none"> 


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45202229-1', 'huodongrili.com');
  ga('send', 'pageview');

</script>
</div>