<div class="row-fluid">
	<div class="span12 well">
 			<h2>找我们聊天..</h2>
		    <p>欢迎你来到这里，我们正在开发中...</p>
 
			
			<div class="row">
 				<%(1..4).each do |i|%>
				<div class="well span3">
				<h3>大猫布丁</h3>
				<span class="light">PM</span>
				<div class="pe-wp-default">
					<p>
						<img class="alignnone size-medium wp-image-373" alt="bear" src="http://dev.huodongrili.com/wp-content/uploads/2013/07/QQ20130919-2-300x223.png" width="300" height="223" data-pinit="registered">
					</p>
					<p>
						<font color="red">活动日历PM </font><br>
						喜欢听很多很多不同的故事~<br>
						了解人心，比旅行更有趣~<br>
						人心，才是最大最大的旅行地图~~<br>
						若在北京~~欢迎找我聊天玩儿~~<br>
						<strong>请尽量选择{免费聊天}按钮，北京地区，只要时间够，我都会通过的。</strong><br>
						<a href="https://yoopay.cn/event/56908518"><font color="red">付费聊天: 1000元/小时 (推荐使用免费方式） </font></a>
					</p>
					<a href="https://yoopay.cn/event/56908518"><img alt="" width="120" height="40" src="http://dev.huodongrili.com/wp-content/uploads/2013/09/pay.png"></a>
					<a href="https://yoopay.cn/event/65081801"><img alt="" width="120" height="40" src="http://dev.huodongrili.com/wp-content/uploads/2013/09/free.png"></a>
				</div>
				</div>
 			<%end%>
 </div>
 	</div>
</div>
