<style>
    h1 {color:green;font-size:400%;}
    p#green {text-indent:9em;background:green;font-size:150%;color:white}
    p#content {font-size:130%;line-height:180%}
    div.row {height:12px}
</style>

<div class="row-fluid">
	
 

<div class="span12 well profile">
	<h1>活动日历</h1>
	<p id="green" class="text-right">一种更有趣的生活</p>
	<p id="content">推荐开发，程序，设计，展览等靠谱活动。<br>
	正能量语录，治愈系书籍推荐。<br>有天气，阴历，
	节假日标注，方便每日使用。<br>还有运动量记录，了解
	运动规律。<br>『活动日历』一种更有趣的生活。</p>
	</br></br>
	<div class="row-fluid">
	    <div class="span6">
			<%=image_tag "qrcode.png",:size=>"150x150",:alt=>"qrcode"%>
		</div>
	    <div class="span6">
	        <a href="https://play.google.com/store/apps/details?id=com.zoe.calendar">
	<%=image_tag "download.png",:size=>"150x50",:alt=>"download"%>
	        </a>
	    </div>
	</div>
</div>
</div>
 