 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>入门指南..</h2>
		    <p>欢迎你来到这里，我们正在开发中...</p>
		<hr />
		 
		<div class=help_item>
			<h3>1.首先要说，这个不是什么网站…</h3>
			<p>
				1）不是婚恋交友网站。确定不是。<br />
				2）不是交友网站。所有用户都没提供照片，思想比外形更重要。<br />
				3）不是问答网站。你讲故事，会有人耐心倾听。不是基于专业知识提问。<br />
				4）不是视频、语聊网站。我们推荐人与人之间真实情感联系。<br />
			</p>
			<hr/>	
			<h3>2.怎样约人聊天？	</h3>
			<p>
				1）每个人都列明了社交账号（微博、知乎、G+）等等，直接私信对方，收到回复就可以了。<br />
				产品形态我们还在摸索中，初期用户都是 @大猫布丁，线下见过的人。<br />
				也许未来会提供在线注册加入陪聊名单。<br />
				付费聊天么，那就直接付费吧，一定能约到。欢迎付费~ 网站就有盈利模型了咔咔~~<br />
<br />
				2）推荐开头：我从“活动日历”看到，可否愿意聊天？<br />
				尽量用自己使用一年以上的账号发送私信。<br />
				你远远比你想象中更有趣，直接用自己账号吧。<br />
<br />
				比如：<br />
				我从“活动日历”看到你的信息，想聊聊，可以吗？<br />
				我工作日下班后，周日下午空。<br />
				西单地铁站，或者五道口地铁站附近，可以吗？<br />
				若是周日下午，可以选你方便的地点。<br />
				期待回复：）<br />
			</p>
				
		</div>
 
		</div>
	</div>
</div>
