/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree ./sprites/
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 *= require markdown
 */

hr{
	margin: 10px 0;
}
h2{
	font-size:22px;
	margin-top:10px;
}

h3{
	font-size:20px;
	margin-top:10px;
}

.well{
	padding:10px;
}

.xxlarge{
	width: 630px;
}

.xlarge{
	width: 430px;
}

.large{
	width: 230px;
}

.chats{
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 15px
}
.span3{
	width: 300px;
}

.item{
   float:left;
   min-height: 20px;
   padding: 10px;
   margin: 10px 10px 0 0;
   background-color: #fff;
   border: 1px solid #e3e3e3;
   border-radius: 4px;
   -webkit-box-shadow: inset -1px -1px 1px #bbb;
   box-shadow: inset -1px -1px 1px #bbb;
}


.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#c09853}.alert h4{margin:0}.alert .close{position:relative;top:-2px;right:-21px;line-height:20px}

.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad}
.alert-block{padding-top:14px;padding-bottom:14px}
.alert-block>p,.alert-block>ul{margin-bottom:0}.alert-block p+p{margin-top:5px}


legend {
display: block;
font-size:14px;
margin-bottom:10px;
margin-top:10px;
-webkit-padding-start: 2px;
-webkit-padding-end: 2px;
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

fieldset {
display: block;
-webkit-margin-start: 2px;
-webkit-margin-end: 2px;
-webkit-padding-before: 0.35em;
-webkit-padding-start: 0.75em;
-webkit-padding-end: 0.75em;
-webkit-padding-after: 0.625em;
border: 2px groove threedface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
min-width: -webkit-min-content;
}

fieldset {
border: 1px solid #e4e4e4;
margin: 0;
}

.avatar img{
	width:120px;
	height:120px;
}

.chat h3{
   border-bottom: 1px solid #e3e3e3;
   padding-bottom: 6px;
   margin-bottom: 10px;
}

.profile h3{
	font-size: 16px;
	margin-top: 20px;
}

 

.chat p a, a:active, .chat a:hover {
  outline: 0; 
  text-decoration: none; 
  color: #000;
}

.apply_form{
	width:99%;
}
 
.profile_info{
	padding: 0 6px 0 10px;
}

.profile h3{
	padding: 0;
	margin-top:10px;
}

.profile-items{
	clear:both;
}

.profile-base{
	clear:both;
}

img {
	max-width: 90%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a.nav_index {
	color: #0099cc;
}
a.nav_chats {
	color: #00cccc;
}
a.nav_blogs {
	color: #669900;
}

.tags p{
 line-height: 25px;
}



/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.bootstrap-timepicker-widget.dropdown-menu.open{
	margin-left: 260px;
}

.wmd-preview{
border: 1px solid #e3e3e3;
padding: 10px;
margin-bottom:20px;
}


.login_tips{
	font-size:14px;
	color:#CC0000;
}


.p-time {
	position: absolute;
	left: -47px;
	top: 3px;
	width: 50px;
	padding-bottom: 10px;
}

.p-time strong {
float: left;
text-align: center;
}

.p-time .day {
	font: normal 20px/18px "Arial";
	letter-spacing: -1px;
	color: #fff;
	width: 40px;
	padding: 7px 0px;
	background: #2abada;
	overflow: hidden;
}

.p-time .month {
	background: #dedede;
	width: 40px;
	padding: 3px 0px;
	margin-bottom: 10px;
}

.p-time .year {
background: #fff;
border: solid 1px #dedede;
font: normal 11px/11px "Verdana";
padding: 12px 5px;
color: #bababa;
}

.p-cat {
font: normal 11px/14px "Arial";
color: #999;
}

.p-head {
padding-bottom: 2px;
}

.post, .attachment {
width: 100%;
position: relative;
}

.SL {
width: 780px;
float: left;
padding-left: 45px;
}

.post{
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: dotted 1px #dedede;
}

.p-con{
min-height:40px;
max-height:170px;
overflow:hidden;
word-wrap: break-word;

}

